.container {
  width: 50%;
  text-align: center;
  display:grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr ;
  grid-template-rows: 1fr 3fr ;
}
.roll-dice{
  grid-column-start: 1;
  grid-column-end: -1;
  grid-row-end: 2;
}

.c{
  display:flex;
  justify-content: center;
}

.dice {
  text-align: center;
  display: inline-block;

}
label{
  color: rgb(170, 170, 170);
}

body {
  background-color: #393E46
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px  #232931;
  font-size: 5rem;
  color: #fff;
  text-align: center;
}

p {
  font-size: 7rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

.custom-alert-success {
  color: #fff;
  background-color: #a1a19f ;
  border-color: #477853;
  text-align: center;
  font-size: 5rem;
  padding-left: 100px;
  padding-right: 100px;
}

button{
  background-color: #232931;
}

